body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
}

/* GLOBAL TAGS CONFIGURE */
* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;    
}
img {
    display: block
}
a, a:active {
    color: #4D5AE5;
    align-content: center;
    font-style: normal;
}

/* TEXT CONFIGURE */
.main-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.section-title {
    font-size: 36px;
    margin-bottom: 72px;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42 ;
}
.element-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2e2f42 ;
    letter-spacing: 0.02em;
}
.text {
    margin-top: 8px;
    font-size: 16px;
}

/* ELEMENTS CONFIGURE */
.section {
    padding: 120px 156px;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
}
.order-btn {
    background-color: #4D5AE5;
    font-weight: 500;
    padding: 16px 32px;    
    border: none;
    letter-spacing: 0.04em;
    border-radius: 5px;
    cursor: pointer;
    line-height: 1.5;
}
.order-btn:hover, .order-btn:focus {
    background-color: #404BBF;
}

/* LIST CONFIGURE */
.list {
    list-style-type: none;    
    display: inline-flex;
    padding: 0;
}
.card-list {
    gap: 24px;
}
.header-list {
    gap: 40px;
}

/* CARDS CONFIGURE */
.portfolio li, .team li {
    background-color: #FFFFFF;
    h3 {
        margin: 32px 16px 0;
    }
    p {
        margin: 0 16px 32px;
    }
}

/* SECTIONS CONFIGURE */
.header {
    background-color: #FFFFFF;
    padding: 24px 156px;

    .address {
        margin-left: 332px;
        font-style: normal;
    }
    .logo {
        margin-right:76px;
    }
}

.header-logo-span {
    color: #2e2f42;
}
.footer-logo-span {
    color: #f4f4fd ;
} 
.nav-link {
    color: #2e2f42;
    font-weight: 500 ;

}

address {
    font-style: normal;
}
address .address-link {
    color: #434455;
}

.nav-link:hover, .nav-link:focus, .address-link:hover, .address-link:focus {
    color: #404bbf ;
}

.hero {
    background-color: #2E2F42;
    color: #FFFFFF;
    text-align: center;
    h1 {
        margin: 188px auto 48px;
    }
}

.team {
    background-color: #F4F4FD;
    text-align: center;
}
.portfolio {
    text-align: center;
    ul {
        margin-bottom: 48px;
    }
    li {
        border: 1px solid #E7E9FC;
        text-align: left;
    }
}

.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    
    .text {
        margin-top: 16px;
    }
}


